<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>后台管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  
  <link rel="stylesheet" href="/static/res/layui/css/layui.css"  media="all">
  <link rel="stylesheet" href="/static/css/back_end.css"  media="all">
    {%block customcss%}
    {%endblock%}
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">后台管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/">网站主页</a></li>
      <li class="layui-nav-item"><a href="">产品管理</a></li>
      <li class="layui-nav-item"><a href="">新闻管理</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" class="layui-nav-img">
          Admin
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">网站修改</a>
          <dl class="layui-nav-child {% if request.path == '/manage/images'%} layui-nav-itemed{% endif %}">
            <dd {% if request.path == '/manage/images'%} class="layui-this"{% endif %}><a href="/manage/images">图片</a></dd>
            <dd><a href="javascript:;">标题</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item {% if request.path == '/manage/product'%} layui-nav-itemed{% endif %}">
          <a href="javascript:;">信息录入</a>
          <dl class="layui-nav-child">
            <dd {% if request.path == '/manage/product'%} class="layui-this"{% endif %}><a href="/manage/product">新闻&产品</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->

      {% block content%}
      {%endblock%}
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © layui.com - 底部固定区域
  </div>
</div>
<script src="/static/res/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="/static/res/layui/html5.min.js"></script>
  <script src="/static/res/layui/respond.min.js"></script>
<![endif]-->

<script>
//JavaScript代码区域
layui.use(['element','form','layedit','upload','jquery','layer'], function(){
  var element = layui.element
      ,form = layui.form
      ,layer = layui.layer
      ,$ = layui.jquery
      ,upload = layui.upload
      ,layedit = layui.layedit;
   {%block customjs%}
    {%endblock%}
});
</script>

</body>
</html>
