{% extends 'back_end/base.html'%}

{% block content%}

    <div style="padding: 15px" class="layui-row">
        <div class="layui-col-md12 layui-col-xs12">
            <h3 class="chc-one-title">全站前台图片修改</h3>
            <blockquote class="layui-elem-quote" style="    background-color: #fff;color: #FFB800">
                替换网站图片功能。根据不同的位置进行选择上传和替换。 <br>
                1、确定替换的图片 <br>
                2、上传图片    <br>
                3、点击"替换"
            </blockquote>
        </div>
        <div class="layui-col-xs12 layui-col-md12 ">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md9">
                    <div class="layui-row layui-col-space10">
                        <div class="layui-col-md4 ">
                            <div class="chc-image-update">
                                <h4>主页滑动图片修改</h4>
                                <hr>
                                <div class="layui-row">
                                    <div class="layui-col-md6">
                                        <div class="layui-upload">
                                          <button type="button" class="layui-btn" id="test1">上传滑动图片1</button>
                                          <div class="layui-upload-list">

                                            <p id="demoText"></p>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md6">
                                        <button class="layui-btn layui-btn-normal">替换</button>
                                    </div>
                            </div>
                                <div class="layui-row">
                                    <div class="layui-col-md6">
                                        <div class="layui-upload">
                                          <button type="button" class="layui-btn" id="test1">上传滑动图片2</button>
                                          <div class="layui-upload-list">
                                            <p id="demoText"></p>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md6">
                                        <button class="layui-btn layui-btn-normal">替换</button>
                                    </div>
                            </div>
                            </div>

                        </div>
                        <div class="layui-col-md4 ">
                            <div class="chc-image-update">
                                <h4>主页底部二维码图片修改</h4>
                                <hr>
                                <div class="layui-row">
                                    <div class="layui-col-md6">
                                        <div class="layui-upload">
                                          <button type="button" class="layui-btn" id="test1">上传新的二维码</button>
                                          <div class="layui-upload-list">
                                            <p id="demoText"></p>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-md6">
                                        <button class="layui-btn layui-btn-normal">替换</button>
                                    </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="chc-image-update">
                        <h4 class="chc-two-title"><i class="layui-icon layui-icon-picture-fine"></i>上传图片预览区</h4>
                        <hr>
                        <div class="display-image-div">
                            <img class="layui-upload-img" id="displayimage">
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </div>
{%endblock%}

 {% block customjs%}
//普通图片上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: '/api/uploadimg'
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        <!--$('#uploadimgsrc').attr('src', result); //图片链接（base64）-->
      });
    }
    ,done: function(res){
        console.log(res);
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
        $('#displayimage').attr('src', res.data.src); //图片链接（base64）
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
  });
{% endblock%}