{% extends 'back_end/base.html'%}

{% block content%}

    <div style="padding: 15px" class="layui-row layui-col-space10">
      <div class="layui-col-xs12 layui-col-md9">
        <div class="layui-row layui-col-space10">
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">数据统计</div>
              <div class="layui-card-body">
                <ul class="layui-row layui-col-space10">
                  <li class="layui-col-xs6">
                    <a href="" class="chc-target">
                      <h3>新闻总数</h3>
                       <p>
                         <cite>{{productcount}}</cite>
                       </p>
                    </a>
                  </li>
                  <li class="layui-col-xs6 ">
                    <a href="" class="chc-target">
                      <h3>产品总数</h3>
                       <p>
                         <cite>100</cite>
                       </p>
                    </a>
                  </li>
                  <li class="layui-col-xs6">
                    <a href="" class="chc-target">
                      <h3>案例总数</h3>
                       <p>
                         <cite>100</cite>
                       </p>
                    </a>
                  </li>
                  <li class="layui-col-xs6 ">
                    <a href="" class="chc-target">
                      <h3>今日流量</h3>
                       <p>
                         <cite>100</cite>
                       </p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="layui-col-md6">
            <div class="layui-card">
              <div class="layui-card-header">外链</div>
              <div class="layui-card-body">
                    xxx
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="layui-col-xs12 layui-col-md3">
          <div class="layui-card">
            <div class="layui-card-header">卡片面板</div>
            <div class="layui-card-body">
              卡片式面板面板通常用于非白色背景色的主体内<br>
              从而映衬出边框投影
            </div>
          </div>
      </div>
    </div>

<script type="text/html" id="linkbarDemo">
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
{%endblock%}


{% block customjs%}

{%endblock%}