{% extends 'back_end/base.html'%}

{% block content%}

    <div style="padding: 15px" class="layui-row">
        <div class="layui-col-md12 layui-col-xs12">
            <h3 class="chc-one-title">全站其它内容修改</h3>
            <blockquote class="layui-elem-quote" style="    background-color: #fff;color: #FFB800">
                添加网站其它信息，其它功能添加面板
            </blockquote>
        </div>
        <div class="layui-row layui-col-space10" >
            <div class="layui-col-md3" >
                <div class="chc-other-add-item add-other-link">
                    <h3><i class="layui-icon layui-icon-link"></i>&nbsp;添加外链</h3>
                    <p>首页底部友情链接</p>
                </div>
            </div>
            <div class="layui-col-md3" >
                <div class="chc-other-add-item">
                    <h3><i class="layui-icon layui-icon-help"></i>&nbsp;待添加功能</h3>
                </div>
            </div>
        </div>
    </div>
<div class="model-add-link">
    <form class="layui-form" action="">
      <div class="layui-form-item">
        <label class="layui-form-label">外链名称</label>
        <div class="layui-input-block">
          <input type="text" name="name" required  lay-verify="required" placeholder="例如：baidu" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">url</label>
        <div class="layui-input-block">
          <input type="text" name="url" required  lay-verify="required" placeholder="例如：www.baidu.com" autocomplete="off" class="layui-input">
        </div>
      </div>
      <div class="layui-form-item" style="text-align: center">
          <button class="layui-btn" lay-submit lay-filter="formAddLink">添加</button>
      </div>
    </form>
</div>
{%endblock%}

 {% block customjs%}
$(".add-other-link").on("click",function(){
    layeraddlink = layer.open({
      type: 1,
      title:'添加外链',
      skin: 'layui-layer-rim', //加上边框
      area: ['420px', '240px'], //宽高
      content: $(".model-add-link").html()
    });
})

  //监听提交
  form.on('submit(formAddLink)', function(data){
    layer.msg(JSON.stringify(data.field));
    data.field["flag"] = 'link';
    $.ajax({
        url:"/api/other",
        type:"post",
        data:data.field,
        dataType:"json",
        success:function(result){
            layer.msg(result.msg,{time:2000})
            if(result.code==0){
                setTimeout(function(){
                    layer.close(layeraddlink),3000})
                }
            }
        });
  });
{% endblock%}