{% extends 'back_end/base.html'%}

{% block content%}

    <div style="padding: 15px">
        <div class="layui-col-md12 layui-col-xs12">
            <h3 class="chc-one-title">信息(产品+新闻)录入</h3>
        </div>
        <div class="layui-col-xs12 layui-col-md12">
            <form class="layui-form" action="" onsubmit="return false">
              <div class="layui-form-item">
                <label class="layui-form-label">录入对象</label>
                <div class="layui-input-block">
                  <select name="newsorproduct" lay-filter="aihao">
                    <option value="0">新闻</option>
                    <option value="1" selected="">产品</option>
                  </select>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-block">
                  <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-block">
                  <input type="text" name="title" required  lay-verify="required" placeholder="请输入关键词" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">简介</label>
                <div class="layui-input-block">
                  <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">封面</label>
                <div class="layui-input-inline">
                     <div class="layui-upload">
                      <button type="button" class="layui-btn" id="test1">上传图片</button>
                      <div class="layui-upload-list">
                        <img class="layui-upload-img" id="uploadimgsrc">
                        <p id="demoText"></p>
                      </div>
                    </div>
                </div>
                <div class="layui-form-mid layui-word-aux chc-recomment">产品图片宽500高320;新闻宽300高200</div>
              </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">内容介绍</label>
                <div class="layui-input-block">
                  <textarea class="layui-textarea layui-hide" name="content" lay-verify="content" id="LAY_demo_editor"></textarea>
                </div>
            </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
              </div>
            </form>
        </div>

    </div>
{%endblock%}

 {% block customjs%}
  //创建一个编辑器
    layedit.set({
      uploadImage: {
        url: '' //接口url
        ,type: '' //默认post
      }
    });
  var editIndex = layedit.build('LAY_demo_editor');
  //监听提交
  form.on('submit(formDemo)', function(data){
    var content = layedit.getContent(editIndex);
    var show_image = $("#uploadimgsrc").attr('src');
    data.field['content'] = content;
    data.field['file'] = show_image;
    $.ajax({
        url:"/api/content",
        type:"post",
        data:data.field,
        dataType:"json",
        success:function(result){
            if(result.code==0){
            setTimeout(function(){
            window.location.reload();
            },2000)
        }
        layer.msg(result.msg,{time:2000})
        }
    });
    return false;
  });
//普通图片上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: '/api/uploadimg'
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        <!--$('#uploadimgsrc').attr('src', result); //图片链接（base64）-->
      });
    }
    ,done: function(res){
        console.log(res);
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
        $('#uploadimgsrc').attr('src', res.data.src); //图片链接（base64）
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
  });
{% endblock%}