{%extends 'front_end/base.html'%}

{% block title%}{{data.public_slogan.10}}{%endblock%}
{% block keywords%}{{data.public_slogan.11}}{%endblock%}
{% block description%}{{data.public_slogan.12}}{%endblock%}

{%block customcss%}
{%endblock%}

{%block content%}
  <!-- banner部分 -->
  <div class="banner about">
    <div class="title">
      <p>关于我们</p>
      <p class="en">About Us</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-about">
    <div class="layui-container">
      <div class="layui-row">
        <ul class="aboutab">
          <li class="layui-this">公司简介</li><li>招贤纳士</li><li>发展历程</li>
        </ul>
        <div class="tabIntro">
          <div class="content">
            <div class="layui-inline img"><img src="{{about.0.show_image}}"></div><div class="layui-inline panel">
              <p>{{about.0.content}}</p>
            </div>
          </div>
          <div class="content">
            <div class="layui-inline panel p_block">
              <p>{{about.1.content}}</p>
            </div><div class="layui-inline img"><img src="{{about.1.show_image}}"></div>
              <p class="p_hidden">{{about.1.content}}</p>
          </div>
          <div class="content">
            <div class="layui-inline img"><img src="{{about.2.show_image}}"></div><div class="layui-inline panel">
              <p>{{about.2.content}}</p>
            </div>
          </div>
        </div>
        <div class="tabJob">
          {% for i in zhaopin%}
          <div class="content">
            <p class="title">{{i.title}}</p>
            <p>> 职位描述</p>
            <ol>
              {% autoescape on %}
              {{i.content}}
              {% endautoescape %}

            </ol>
          </div>
          {% endfor %}

        </div>
        <div class="tabCour">
          <p class="title">我们的蜕变</p>
          <ul class="timeline">
            <li class="odd">
              <div class="cour-img"><img src="/static/res/static/img/us_img4.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-lg5">
                <p class="label">2017 年 6 月</p>
                <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>
              </div>
            </li>
            <li>
              <div class="cour-img"><img src="/static/res/static/img/us_img5.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                <p class="label">2017 年 6 月</p>
                <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>
              </div>
            </li>
            <li class="odd">
              <div class="cour-img"><img src="/static/res/static/img/us_img6.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-lg5">
                <p class="label">2017 年 6 月</p>
                <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>
              </div>
            </li>
            <li>
              <div class="cour-img"><img src="/static/res/static/img/us_img7.png"></div>
              <div class="cour-panel layui-col-sm4 layui-col-sm-offset8 layui-col-lg5 layui-col-lg-offset7">
                <p class="label">2017 年 6 月</p>
                <p>我们成立了，来到了杭州西湖这个美丽的地方。</p>
              </div>
            </li>
            <li class="odd">
              <div class="cour-img"><img src="/static/res/static/img/us_img8.png"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{%endblock%}

{%block customjs%}
{%endblock%}