<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="/static/res/static/css/index.css">
    {% block customcss %}
    {% endblock %}
</head>
<body>
  <!-- nav部分 -->
  <div class="nav index">
    <div class="layui-container">
      <!-- 公司logo -->
      <div class="nav-logo">
        <a href="index.html">
          <img src="/static/res/static/img/logo.png" alt="类友网络">
        </a>
      </div>
      <div class="nav-list">
        <button>
          <span></span><span></span><span></span>
        </button>
        <ul class="layui-nav" lay-filter="">
          <li class="layui-nav-item {% if request.path == '/'%} layui-this {%endif%}"><a href="/">首页</a></li>
          <li class="layui-nav-item {% if request.path == '/product.html'%} layui-this {%endif%}"><a href="/product.html">产品</a></li>
          <li class="layui-nav-item {% if request.path == '/news.html'%} layui-this {%endif%}"><a href="/news.html">动态</a></li>
          <li class="layui-nav-item {% if request.path == '/case.html'%} layui-this {%endif%}"><a href="/case.html">案例</a></li>
          <li class="layui-nav-item {% if request.path == '/about.html'%} layui-this {%endif%}"><a href="/about.html">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
  {% block content %}
  {% endblock %}
  <!-- footer部分 -->
  <div class="footer">
    <div class="layui-container">
      <p class="footer-web">
        {% for i in data.link %}
        <a href="{{i.url}}">{{i.name}}</a>
        {% endfor %}
      </p>
      <div class="layui-row footer-contact">
        <div class="layui-col-sm2 layui-col-lg1"><img src="{{data.images.erweima}}"></div>
        <div class="layui-col-sm10 layui-col-lg11">
          <div class="layui-row">
            <div class="layui-col-sm6 layui-col-md8 layui-col-lg9">
              <p class="contact-top"><i class="layui-icon layui-icon-cellphone"></i>&nbsp;{{data.public_slogan.7}}</p>
              <p class="contact-bottom"><i class="layui-icon layui-icon-home"></i>&nbsp;{{data.public_slogan.8}}</span></p>
            </div>
            <div class="layui-col-sm6 layui-col-md4 layui-col-lg3">
              <p class="contact-top"><span class="right">{{data.public_slogan.9}}</span></p>
              <p class="contact-bottom"><span class="right">{{data.public_slogan.6}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="/static/res/layui/layui.js"></script>
<!--[if lt IE 9]>
  <script src="/static/res/layui/html5.min.js"></script>
  <script src="/static/res/layui/respond.min.js"></script>
<![endif]-->
<script>
  layui.config({
    base: '/static/res/static/js/'
  }).use('firm');

</script>
<script>
//JavaScript代码区域
layui.use(['element','form','layedit','laypage','upload','jquery','layer','table'], function(){
  var element = layui.element
      ,form = layui.form
      ,layer = layui.layer
      ,$ = layui.jquery
      ,laypage = layui.laypage
      ,table = layui.table
      ,upload = layui.upload
      ,layedit = layui.layedit;
   {%block customjs%}
    {%endblock%}
});
</script>
</body>
</html>