{%extends 'front_end/base.html'%}

{%block content%}
  <!-- banner部分 -->
  <div class="banner case">
    <div class="title">
      <p>成功案例</p>
      <p class="en">Successful Case</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main-case">
    <div class="layui-container">
      <div class="layui-row">
        {% for i in case%}
        <div class="layui-inline content {{i.css}}">
          <div class="layui-inline case-img"><img src="{{i.show_image}}"></div>
          <p class="lable">{{i.title}}</p>
          <p>{{i.abstract}}</p>
        </div>
        {% endfor %}
      </div>
      <div id="casePage"></div>
    </div>
  </div>
{%endblock%}

{% block customjs%}
  //动态分页
  laypage.render({
    elem: 'casePage'
    ,count: {{casecount}}
    ,theme: '#2db5a3'
    ,limit:9
    ,curr:{{page}}
    ,layout: ['page', 'next']
    ,jump:function(obj,first){
      var nextpage = obj.curr;
      if(!first){
          window.location.href = '/case.html?page='+nextpage;
        }
    }
  });

{%endblock%}