{%extends 'front_end/base.html'%}
{% block title%}{{data.public_slogan.10}}{%endblock%}
{% block keywords%}{{data.public_slogan.11}}{%endblock%}
{% block description%}{{data.public_slogan.12}}{%endblock%}
{%block customcss%}
{%endblock%}

{%block content%}
  <!-- main部分 -->
  <div class="main-newsdate">
    <div class="layui-container">
      <p class="news"><a href="news.html">实时新闻</a> > 新闻详情</p>
      <h1>{{newsinfo.title}}</h1>
      <p class="pushtime">发布时间：<span>{{newsinfo.addtime}}</span></p>
      <p class="introTop">TA家的珍珠是用黑糖熬制的，要熬整整四个小时才行，每熬一锅黑糖只能做出40杯奶茶，好味，是值得等待的。</p>
      <div><img src="/static/res/static/img/news_big.jpg" alt="新闻详情图"></div>
      <p class="introBott">
        {{newsinfo.content}}
      </p>
    </div>
  </div>
{%endblock%}



{%block customjs%}
{%endblock%}