{% extends 'front_end/base.html'%}
{% block title%}{{data.public_slogan.10}}{%endblock%}
{% block keywords%}{{data.public_slogan.11}}{%endblock%}
{% block description%}{{data.public_slogan.12}}{%endblock%}

{% block content%}

  <!-- banner部分 -->
  <div class="banner product">
    <div class="title">
      <p>{{data.public_slogan.18}}</p>
      <p class="en">Product Display</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main product">
    <div class="layui-container">
      {% for i in products %}
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="{{i.show_image}}"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">{{i.name}}</p>
          <p class="detail">{{i.abstract}}</p>
          <div><a href="/product/{{i.id}}.html">查看产品 ></a></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{%endblock%}