{% extends 'front_end/base.html'%}


{% block content%}

  <!-- banner部分 -->
  <div class="banner product">
    <div class="title">
      <p>产品展示</p>
      <p class="en">Product Display</p>
    </div>
  </div>
  <!-- main部分 -->
  <div class="main product">
    <div class="layui-container">
      {% for i in data %}
      <div class="content layui-row">
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md7 layui-col-lg6 content-img"><img src="/static/res/static/img/Product_img1.jpg"></div>
        <div class="layui-col-xs12 layui-col-sm6 layui-col-md5 layui-col-lg6 right">
          <p class="label">{{i.name}}</p>
          <p class="detail">{{i.abstract}}</p>
          <div><a href="javascript:;">查看产品 ></a></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
{%endblock%}